<?xml version='1.0' encoding='utf-8'?>
<plugin id="custom-plugin-gotonextpage" version="1.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GoToNextPagePlugin</name>
    <js-module name="GoToNextPagePlugin" src="www/GoToNextPagePlugin.js">
        <clobbers target="custom.gotonext" />
    </js-module>
	
	<!-- android -->  
    <platform name="android">  
        <config-file target="res/xml/config.xml" parent="/*">  
            <feature name="GoToNextPagePlugin">  
                <param name="android-package" value="org.apache.cordova.CustomPlugin.GoToNextPagePlugin"/>  
            </feature>  
        </config-file>  	
		<config-file target="AndroidManifest.xml" parent="/manifest/application">  
             <activity android:name="com.demo.customplugin.NextActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        </config-file>  
		
        <source-file src="src/android/GoToNextPagePlugin.java" target-dir="src/org/apache/cordova/CustomPlugin" />  
		<source-file src="src/android/layout/activity_next.xml" target-dir="res/layout" />
		<source-file src="src/android/NextActivity.java" target-dir="src/com/demo/customplugin" />  
		
         
    </platform>  
</plugin>
